.botonAzul a {
  display: block;
  height: 50px;
  width: 200px;
  background: #00b7ea;
   
  /*TYPE*/
  color: white;
  font: 17px/50px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
