
<h2 class="textoazul"><a><span class="icon-hammer"></span></a>Fabricaciones</h2> <br>   
    <div class="div1">
        <nav>
			<ul>
				<li><a href="#"><span class="icon-search"></span>Consultar</a>
				<li><a href="javascript:void(0)"  ng-click="guardarUser()"><span class="icon-user-plus"></span>Guardar</a>
				<li><a href="#"><span class="icon-user-check"></span>Modificar</a>
				<li><a href="#"><span class="icon-user-minus"></span>Eliminar</a>
			</ul>
		</nav> 
       </div> 
       <br>
       
    <form class="contenedorInterno">
        <label>Solicitud</label> <br>
        <input class="CajaTexto" type="number"  ng-model="" /> 
        <br>
        <label>Nombres Apellidos</label>
        <input class="CajaTexto" type="text" name="name"  />
        <label>Email</label>
        <input class="CajaTexto" type="text" name="email" />
        <label>Teléfono</label>
        <input class="CajaTexto" type="text" name="phone" />
        <label>Dirección</label>
        <input class="CajaTexto" type="text" name="phone" />
        <label>Producto</label>
        <textarea class="CajaTexto"  name="phone"> </textarea>
        <br/>
     <br>    
    <br>
    
    </form>
    
