
<h2 class="textoazul"><a><span class="icon-wrench"></span></a>Garantias</h2> <br>   
<br>
<br>
<div style="display: inline-block; margin:0 auto;">      
       <div style="float:left;"> 
            <label>Vendedor</label> <br>
            <input type="password" class="CajaTexto" placeholder="Clave" ng-model="">
        </div>  
        
        <div class="botonVerde_A" style="float:left; top:20px;" >
            <br>
            <a href="javascript:void(0)" ng-click=""><span class="icon-unlocked"></span>Habilitar</a>
        </div>
 </div>
 <br>
 <br>

 <form class="contenedorInterno">
 <div style="display: inline-block; margin:0 auto;">      
    
        
    <div class="div1">
        <nav>
			<ul>
				<li><a href="#"><span class="icon-search"></span>Consultar</a>
				<li><a href="javascript:void(0)"  ng-click="guardarUser()"><span class="icon-user-plus"></span>Guardar</a>
				<li><a href="#"><span class="icon-user-check"></span>Modificar</a>
				<li><a href="#"><span class="icon-user-minus"></span>Eliminar</a>
			</ul>
		</nav> 
    </div> 
       <br>
       
       <div style="float:left;">
            <label>Nombres Apellidos</label> <br>
            <input class="CajaTexto" type="text" name="name"  />
        </div>
        <div style="float:left;">        
            <label>Identificación</label> <br>
            <input class="CajaTextoNumeroCorto" type="number" name="Producto" ng-model="" />
        </div>
        <div style="float:left;">    
            <label>Email</label> <br>
            <input class="CajaTexto" type="text" name="email" />
         </div>
         <div style="float:left;">   
            <label>Teléfono / Celular</label> <br>
            <input class="CajaTexto" type="text" name="phone" />
         </div>
        <div style="float:left;">  
            <label>Fecha de Compra</label> <br>
            <input class="CajaTexto" type="date" name="phone" />
        </div>
 </div> 
        <br/>
        
    <h3 class="textoazul">Descripción del Producto</h3> 
    <br>
    <div style="display: inline-block; margin:0 auto;"> 
        
        <div style="float:left;">
            <label>Marca</label><br>
            <input class="CajaTexto" type="text" name="name"  />
        </div>
        <div style="float:left;">
            <label>Referencia</label> <br>
            <input class="CajaTexto" type="text" name="name"  />
        </div>
        <div style="float:left;">
            <label>Estilo</label> <br>
            <select class=CajaTexto placeholder="Identificación" ng-model="">
                   <option></option>
                   <option>Hombre</option>
                   <option>Mujer</option>
            </select>
        </div>
        <div style="float:left;">           
            <label>Crónografo</label> <br>
            <select class=CajaTexto  ng-model="">
                   <option></option>
                   <option>Si</option>
                   <option>No</option>
                   <option>Automático</option>
                   <option>Cuarzo</option>
                   <option>Eco Drive</option>
                   <option>Digital</option>
                   <option>Doble Hora</option>
                   <option>Otro</option>
                   </select>
        </div>           
        <div style="float:left;">
            <label>Pulso</label> <br>
            <select class=CajaTexto  ng-model="">
                   <option></option>
                   <option>Cuero</option>
                   <option>Metálico</option>
                    <option>Plástico</option>
                    <option>Cerámica</option>
                    <option>Pavonado</option>
                   </select>
        </div>
        <div style="float:left;">           
            <label>Color Tablero</label> <br>
            <input class="CajaTexto" type="text" name="name"  />
        </div>
        <div style="float:left;">    
            <label>Calendario</label> <br>
            <select class=CajaTexto  ng-model="">
                   <option></option>
                   <option>Si</option>
                   <option>No</option>
                   </select>  
        </div>
        <div style="float:left;">           
            <label>N0 Eslabones</label> <br>
            <input class="CajaTextoNumeroCorto" type="number" name="Producto" ng-model="" />
        </div>
    </div>    
    
    <h2 class="textoazul">Estado del Producto</h2>
    <br>
    <div style="display: inline-block; margin:0 auto;"> 
        
        <div style="float:left;">
            <label>Caja</label> <br>
            <select class=CajaTexto  ng-model="">
                       <option></option>
                       <option>Bueno</option>
                       <option>Regular</option>
                       </select>  
            <input type="text" class="CajaTexto" placeholder="Observaciones" ng-model="">
        </div>
        <div style="float:left;">
            <label>Pulso</label> <br>
            <select class=CajaTexto  ng-model="">
                   <option></option>
                   <option>Bueno</option>
                   <option>Regular</option>
                   </select>  
            <input type="text" class="CajaTexto" placeholder="Observaciones" ng-model="">
        </div>
        <div style="float:left;">
            <label>Corona</label> <br>
            <select class=CajaTexto  ng-model="">
                       <option></option>
                       <option>Bueno</option>
                       <option>Regular</option>
                       </select>  
            <input type="text" class="CajaTexto" placeholder="Observaciones" ng-model="">
        </div>
        <div style="float:left;">
            <label>Cristal</label> <br>
            <select class=CajaTexto  ng-model="">
                   <option></option>
                   <option>Bueno</option>
                   <option>Regular</option>
                   </select>  
            <input type="text" class="CajaTexto" placeholder="Observaciones" ng-model="">
        </div>
        <div style="float:left;">
            <label>Broches</label> <br>
            <select class=CajaTexto  ng-model="">
                   <option></option>
                   <option>Bueno</option>
                   <option>Regular</option>
                   </select>  
            <input type="text" class="CajaTexto" placeholder="Observaciones" ng-model="">
        </div>
        <div style="float:left;">
            <label>Pasadores</label> <br>
            <select class=CajaTexto  ng-model="">
                   <option></option>
                   <option>Bueno</option>
                   <option>Regular</option>
                   </select>  
            <input type="text" class="CajaTexto" placeholder="Observaciones" ng-model="">
        </div>
        <div style="float:left;">
            <label>Mostrario</label> <br>
            <select class=CajaTexto  ng-model="">
                   <option></option>
                   <option>Bueno</option>
                   <option>Regular</option>
                   </select>  
            <input type="text" class="CajaTexto" placeholder="Observaciones" ng-model="">
        </div> 
   </div>     
        <h2 class="textoazul">Diagnóstico</h2>
        <label>Cliente</label>
         <textarea type="text" class="CajaTexto" placeholder="Observaciones" ng-model=""></textarea>
      <label>Tecníco</label>
         <textarea type="text" class="CajaTexto" placeholder="Observaciones" ng-model=""></textarea>
        
     <br>    
    <br>
   
</form>
