RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !index
RewriteRule ^(.*)$ /Backend_kronosweb/index.php/$1 [L]

ErrorDocument 404 /Backend_kronosweb/index.php


